<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <!--!
    This file allows customizing the appearance of the Trac installation.
    Add your customizations here and rename the file to site.html. Note that
    it will take precedence over a global site.html placed in the directory
    specified by [inherit] templates_dir.
    
    More information about site appearance customization can be found here:
    
      http://trac.edgewall.org/wiki/TracInterfaceCustomization#SiteAppearance
  
   ***

   body-Klassen zusammenbauen (Sensitive Tickets hervorheben, etc) -->
  <?python
      from genshi.builder import tag
      body_klassen = ''
      # bugfix fuer #369
      if defined('ticket') and (not isinstance(ticket, (str,unicode))) and ticket['sensitive'] == u'1':
          body_klassen += ' sensitive-ticket'
      if defined('page') and page.name.startswith('Intern'):
          body_klassen += ' sensitive-wiki'
      # to be used with py:attrs
      body_klassen_attrs = {'class': body_klassen} ?>

  <body py:match="body" py:attrs="body_klassen_attrs">
     ${select('*|text()|comment()')}
  </body>

  <head py:match="head" py:attrs="select('@*')">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    ${select('*|text()|comment()')}
    <link rel="stylesheet" type="text/css" href="/local/pott-branding/site/trac-physikonline.css" />
    <script type="text/javascript" src="/local/pott-branding/site/trac-physikonline.js"></script>

    <!--! Versuch (klappt sogar!), die Scripte auszulesen wg #672 
    <?python
	def get_header_scripts():
	    list_of_scripts = [att.get('src','ERROR') for att in select('script/@src')]
	    return str(list_of_scripts) ?>
    <meta name="scripts" value="sind: ${get_header_scripts()}" />
    -->
  </head>

  <div py:match="div[@id='header']" py:attrs="select('@*')">
     <a href="/projekt" class="logo" title="Zur Projektbereich-Startseite"><img alt="Physik elearning" src="/trac/chrome/site/logo_small-new.png" /></a>
     <h1 class="toptitle"><a href="/" title="Zur Lernplattform">PhysikOnline</a></h1>
     <div class="subtitle"><a href="/projekt" title="Zur Projektbereich-Startseite">Projektbereich <acronym title="PhysikOnlines Team Tracker">POTT</acronym></a></div>
  </div>

  <div py:match="div[@id='mainnav']" id="pe-mainnav">
    ${select('*|text()|comment()')}
  </div>

  <div py:match="div[@id='footer']" id="pe-footer">
    <hr />
    <a href="/go/impressum">Impressum</a>
 &middot;   <a href="/go/nutzungsvereinbarung">Nutzungsvereinbarungen</a>
 &middot;   <a href="/go/datenschutz">Datenschutz</a>
 &middot;   <a href="/" title="Zum ILIAS-Lernsystem wechseln">zum eLearning-System</a>
    <div class="ending"><a href="/" title="Zur PhysikOnline-Startseite">PhysikOnline</a> ist ein Projekt des <a href="http://www.uni-frankfurt.de/fb/fb13/">Fachbereichs Physik</a> der <a href="http://www.uni-frankfurt.de">Uni Frankfurt</a>.</div>

    <!-- Piwik PO3 Benutzerstatistiken POTT #441 -->
    <script type="text/javascript">
    /*<![CDATA[*/
	var _paq = _paq || [];
	_paq.push(["trackPageView"]);
	_paq.push(["enableLinkTracking"]);

	(function() {
		var u="/logs/piwik/";
		_paq.push(["setTrackerUrl", u+"piwik.php"]);
		_paq.push(["setSiteId", "3"]);
		var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
		g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
	})();
    /*]]>*/
    </script>
    <noscript><img src="https://th.physik.uni-frankfurt.de/~elearning-www/stat/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0" /></noscript>
    <!-- End Piwik Code -->
  </div>

</html>
